@page "/markets"

    <h1>Markets</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Nickname</th>
                <th>GLCode</th>
                <th>Stations</th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var market in markets)
                {
                    <tr>
                        <td>@market</td>
                        <td>@market</td>
                        <td>@market</td>
                        <td>@market</td>
                    </tr>
                }*@
        </tbody>
    </table>



    @code {
    }