@page "/vendors"

<h1>Vendors</h1>

<table class="table">
    <thead>
        <tr>
            <th>Company</th>
            <th>Products</th>
            <th>Website</th>
            <th>Phone Number</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var vendor in vendors)
        {
            <tr>
                <td>@vendor</td>
                <td>@vendor</td>
                <td>@vendor</td>
                <td>@vendor</td>
            </tr>
        }*@
    </tbody>
</table>

@code {

}
