@page "/engineering"

<h1>Engineering</h1>

<table class="table">
    <thead>
        <tr>
            <th>Equipment</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var station in stations)
            {
                <tr>
                    <td>@station</td>
                    <td>@station</td>
                    <td>@station</td>
                    <td>@station</td>
                </tr>
            }*@
    </tbody>
</table>

@code {

}
